# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("..\Vacation_Search\WeatherPy_vacation.csv")
vacation_df
# Display sample data"
# YOUR CODE HERE

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,0,Mayo,US,55.94,overcast clouds,38.8876,-76.5119,Resorts Resource Group International
1,1,Puerto Ayora,EC,64.54,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
2,2,Sur,OM,86.16,clear sky,22.5667,59.5289,Sur Plaza Hotel
3,3,Tierranueva,MX,61.45,overcast clouds,21.6833,-100.5667,La nueva patria y libertad
4,4,Port Alfred,ZA,76.53,broken clouds,-33.5906,26.8910,The Halyards Hotel & Spa
...,...,...,...,...,...,...,...,...
481,654,Ibiruba,BR,63.30,broken clouds,-28.6275,-53.0897,Hotel Pitangueira - O melhor serviço pelo meno...
482,655,Bhitarwar,IN,86.83,clear sky,25.8000,78.1167,Rahman master
483,657,Havelock,US,62.55,mist,34.8791,-76.9013,Sherwood Motel
484,658,Warragul,AU,53.44,moderate rain,-38.1667,145.9333,Comfort Inn & Suites Warragul
485,660,Shevchenkove,UA,51.31,overcast clouds,49.6959,37.1735,Hotelʹ Komunalʹnoho Pidpryyemstva Akva

In [4]:
# Choose 4 cities that a customer might want to visit. The cities should be within the same country
cities_to_visit = vacation_df.loc[vacation_df["Country"]=="AR"]
cities_to_visit

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
30,39,Tres Arroyos,AR,55.08,light rain,-38.3739,-60.2798,Habitacion Triple con baño y entrada privada
79,105,Mar Del Plata,AR,58.08,moderate rain,-38.0023,-57.5575,Gran Hotel Mar del Plata
127,165,Rawson,AR,49.05,clear sky,-43.3002,-65.1023,Hosteria Sampedro
314,430,Moron,AR,67.98,broken clouds,-34.6534,-58.6198,Hotel Morón
342,474,General Pico,AR,59.00,overcast clouds,-35.6566,-63.7568,Euskadi Hotel
383,530,Necochea,AR,54.36,light rain,-38.5473,-58.7368,dyd -mar Hotel
422,578,Viedma,AR,52.11,overcast clouds,-40.8135,-62.9967,Hotel Cristal

#### The cities chosen are: Tres Arroyos, Mar del Plata, General Pico and Necochea

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in cities_to_visit.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = cities_to_visit[["Lat", "Lng"]]

In [6]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [7]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = cities_to_visit.loc[cities_to_visit["City"]=="Tres Arroyos"]
vacation_end = cities_to_visit.loc[cities_to_visit["City"]=="Necochea"]
vacation_stop1 = cities_to_visit.loc[cities_to_visit["City"]=="Mar Del Plata"]
vacation_stop2 = cities_to_visit.loc[cities_to_visit["City"]=="General Pico"]
vacation_stop3 = cities_to_visit.loc[cities_to_visit["City"]=="Necochea"]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [8]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
Tres_Arroyos_start = tuple(vacation_start[["Lat", "Lng"]].values[0])
Necochea_end = tuple(vacation_end [["Lat", "Lng"]].values[0])
Mar_Del_Plata = tuple(vacation_stop1 [["Lat", "Lng"]].values[0])
General_Pico = tuple(vacation_stop2 [["Lat", "Lng"]].values[0])
Necochea = tuple(vacation_stop3 [["Lat", "Lng"]].values[0])

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [9]:
# Define a new figure object
fig = gmaps.figure()
# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
Tres_Arroyos2Necochea = gmaps.directions_layer(
    Tres_Arroyos_start, Necochea_end, waypoints=[Mar_Del_Plata, General_Pico, Necochea], 
    travel_mode = "DRIVING")
# Add the layer to the map
fig.add_layer(Tres_Arroyos2Necochea)
# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [10]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3,
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,39,Tres Arroyos,AR,55.08,light rain,-38.3739,-60.2798,Habitacion Triple con baño y entrada privada
1,105,Mar Del Plata,AR,58.08,moderate rain,-38.0023,-57.5575,Gran Hotel Mar del Plata
2,474,General Pico,AR,59.00,overcast clouds,-35.6566,-63.7568,Euskadi Hotel
3,530,Necochea,AR,54.36,light rain,-38.5473,-58.7368,dyd -mar Hotel

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [11]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info =  [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat","Lng"]]

In [12]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content= hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))